<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo list</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="box" id="heading">
     <h1><%=kind%></h1>
     </div>
     <div class="box">
       <% for(var i=0;i<newItems.length;i++){%>
        <div class="item">
            <input type="checkbox">
            <p><%=newItems[i]%></p>
            </div>
       <%}%>
     <form class="item" method="post" action="/">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button" value=<%=kind%>>+</button>
     </form>
     </div>
    </body>
</html>